<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Edith Clarke</h1>
    <img src="/img/edith-clarke.jpg" alt="Foto de Clarke">
    <p>Edith Clarke nació en el Estado de Maryland, en Estados Unidos en 1883, quedando huérfana muy pronto. Estudió matemáticas y astronomía en el Vasa College, en Poughkeepsie, NY, y obtuvo la graduación en el año 1908. Una vez licenciada dedicó los primeros años en la enseñanza, primero en una escuela para señoritas en San Francisco, y más tarde, en Marshall College, en Huntington. Trabajó por primera vez en la industria de la tecnología en la American Telephone and Telegraph Co. (ATT) en 1911. Allí se dedicó a investigar en los terrenos de las líneas de transmisión y en los circuitos eléctricos, bajo la tutoría de George A. Campbell. La pasión y el interés puesto en la solución de problemas de líneas de transmisión la hizo ingresar en el Instituto Tecnológico de Massachussets (MIT), en 1918, para estudiar Ingeniería Eléctrica. Obtuvo su Maestría en Ingeniería Eléctrica en 1919, siendo la primera mujer en recibir este grado en el MIT.</p>
</body>
</html>